@charset "UTF-8";
/*样式清除*/
body,button,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,textarea,ul {
    margin:0;
    padding:0;
}    
h1,h2,h3,h4,h5,h6 {font-size:100%}           
ol,ul {list-style:none}    
a {color:black;text-decoration:none}    
a:hover {
    text-decoration:underline;
}         
fieldset,img {border:0}    
button,input,select,textarea {font-size:100%}
body{
    background: url(../images/background.jpg);
    background-size: cover;
}    
/*复用样式*/
.wmiddle{
    width: 960px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.clear{
    clear:both;
}
/*头部*/
.head {
    width: 100%;
    height: 130px;/*
    background-color: #f0f0f0/*#ecf0f1*/;
}
input[type=button]:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}
.head p {
    right: 100px;
    top: 50px;
    position: absolute;
}
/*导航栏*/
.nav>li>a:hover{
    text-decoration: none;
}
.nav>li{
    float: left;
    position: relative;
    height: 20px;
    text-align: center;
    margin: 0 0 0 80px;
}
.nav>li:first-of-type{
    border-bottom: 2px solid #b0b;
    padding-bottom: 2px;
}
.nav>li>a{
    color: #65c0bb/*#2980b9*/;
    font-weight: bold;
}
.nav ul{
    position: absolute;
    width: 90px;
    left: -15px;
    z-index: 800;
    display: none;
    padding-top: 10px;
}
.nav>li:hover ul{
    display:block;
}
.nav>li:hover >a{
    border-bottom: 2px solid #b0b;
    color: pink;
}
.nav ul:before {
    content: '';
    display: block;
    position: absolute;
    height: 9px;
    width: 9px;
    border: 1px solid #cccccc;
    border-right: 0;
    border-bottom: 0;
    top: 5px;
    left: 39px;
    transform: rotate(45deg);
    background: #eeeeee;
    z-index: 801;
}
.nav ul li {
  display: block;
  position: relative;
  border: 1px solid #cccccc;
  border-bottom: 0;
  height: 30px;
  text-align: center;
  background: #eeeeee;
  box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.1);
  transition: background 0.3s linear;
}
.nav ul li:last-child {
  border-bottom: 1px;
}
.nav ul li:hover {
  background: #f7f7f7;
}
.nav ul li a {
  font: 15px "Oswald", sans-serif;
  font-weight: bold;
  color: #65c0bb;
  text-decoration: none;
  display: block;
  padding: 4px 10px 4px 10px;
  transition: color 0.3s linear;
  text-align: center;
}
.nav ul li a:hover {
  color: #59453e;
}
/*输入框公众样式*/
input,textarea{
    background: rgba(255, 255, 255, 0.5);
}
::placeholder{
    color: white
}
input[type=text]{
    border-color: pink;
    border-radius: 5px;
    width: 250px;
    height: 25px;
    text-align: center;
    color: white;
}
input:focus{
    border: none;
    border:1px solid blueviolet;
}
input[type=button]{
    border-radius: 5px;
    border: 1px solid ;
    width: 50px;
    height: 32px;
    background-color: #3498db;
    line-height: 25px;
    color: white;
    font-size: 16px;
}
.foot{
    background-color: #2e323e;
    height: 80px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    color: white;
}
.foot a{
    margin: 5px 5px;
    color: white;
}
/*动画效果*/
@keyframes fly{
    0% {left: 0%;top: 0%}
    50% {left: 80%;top: 95%}
    100% {left: 0%;top: 0%}
}
@keyframes rotate{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
.fly{
    position: fixed;
    animation: fly 25s ease-out infinite;
    width: 200px;
    height: 50px;
    border: 1px solid #7f8c8d;
    color: #e74c3c;
    z-index: 999;
}
.fly b{
    color: #f7f7f7;
}