h1{
	font-family: 微软雅黑;
	font-size: 20px;
	font-weight: normal;
	color: #686868;
}
h2{
	font-family: Arial;
	font-size: 12px;
	color:#a9a8a8;
	font-weight: normal;
}
.font_next{
	color: #22a3d3;
}
.textp{
	text-indent: 2em;
}